FlightBookingClient/src/conf/xml-resources/web-service-references/FlightBookingWS/wsdl/localhost_8080/FlightBookingWS/FlightBookingWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://xml.netbeans.org/schema/Offers" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/Offers">

<xs:complexType name="offerDetails">
<xs:sequence>
<xs:element name="ID" type="xs:int"/>
<xs:element name="OriginCity" type="xs:string"/>
<xs:element name="OriginAirport" type="xs:string"/>
<xs:element name="DestinationCity" type="xs:string"/>
<xs:element name="DestinationAirport" type="xs:string"/>
<xs:element name="Date" type="xs:string"/>
<xs:element name="Airline" type="xs:string"/>
<xs:element name="AvailableSeats" type="xs:int"/>
<xs:element name="NoOfConnections" type="xs:int"/>
<xs:element name="Fare" type="tns:fare"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fare">
<xs:sequence>
<xs:element name="Currency" type="xs:string"/>
<xs:element name="Value" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>