FlightBookingClient/web/WEB-INF/wsdl/localhost_8080/FlightBookingWS/FlightBookingWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://flightbooking.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://flightbooking.me.org/" name="FlightBookingWS">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/Offers" schemaLocation="http://localhost:8080/FlightBookingWS/FlightBookingWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://flightbooking.me.org/" schemaLocation="http://localhost:8080/FlightBookingWS/FlightBookingWS?xsd=2"/>
</xsd:schema>
</types>
<message name="AvailableOffers">
<part name="parameters" element="tns:AvailableOffers"/>
</message>
<message name="AvailableOffersResponse">
<part name="parameters" element="tns:AvailableOffersResponse"/>
</message>
<message name="bookSeats">
<part name="parameters" element="tns:bookSeats"/>
</message>
<message name="bookSeatsResponse">
<part name="parameters" element="tns:bookSeatsResponse"/>
</message>
<message name="AllOffers">
<part name="parameters" element="tns:AllOffers"/>
</message>
<message name="AllOffersResponse">
<part name="parameters" element="tns:AllOffersResponse"/>
</message>
<portType name="FlightBookingWS">
<operation name="AvailableOffers">
<input wsam:Action="http://flightbooking.me.org/FlightBookingWS/AvailableOffersRequest" message="tns:AvailableOffers"/>
<output wsam:Action="http://flightbooking.me.org/FlightBookingWS/AvailableOffersResponse" message="tns:AvailableOffersResponse"/>
</operation>
<operation name="bookSeats">
<input wsam:Action="http://flightbooking.me.org/FlightBookingWS/bookSeatsRequest" message="tns:bookSeats"/>
<output wsam:Action="http://flightbooking.me.org/FlightBookingWS/bookSeatsResponse" message="tns:bookSeatsResponse"/>
</operation>
<operation name="AllOffers">
<input wsam:Action="http://flightbooking.me.org/FlightBookingWS/AllOffersRequest" message="tns:AllOffers"/>
<output wsam:Action="http://flightbooking.me.org/FlightBookingWS/AllOffersResponse" message="tns:AllOffersResponse"/>
</operation>
</portType>
<binding name="FlightBookingWSPortBinding" type="tns:FlightBookingWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AvailableOffers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookSeats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AllOffers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FlightBookingWS">
<port name="FlightBookingWSPort" binding="tns:FlightBookingWSPortBinding">
<soap:address location="http://localhost:8080/FlightBookingWS/FlightBookingWS"/>
</port>
</service>
</definitions>